{% extends "base.html" %}

{% block content %}
    <div>
        <span>Фамилия: {{surname}}</span>
    </div>
    <br>
    <div>
        <span>Имя: {{name}}</span>
    </div>
    <br>
    <div>
        <span>Образование: {{education}}</span>
    </div>
    <br>
    <div>
        <span>Профессия: {{profession}}</span>
    </div>
    <br>
    <div>
        <span>Пол: {{sex}}</span>
    </div>
    <br>
    <div>
        <span>Мотивация: {{motivation}}</span>
    </div>
    <br>
    <div>
        <span>Готовы остаться на Марсе? {{ready}}</span>
    </div>
{% endblock %}